#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  height: 200px;
  width: 200 px;
  margin: 35px;
  padding: 35px;
}

input {
  height: 50px;
  width: 27%;
  margin: 35px;
  padding: 0 1rem;
}

#root {
  background-color: #393939;
}
