table,
td,
tr {
  border: 10px double rgb(150, 111, 39);
  font-size: 15px;
  color: gray;
  font-weight: 300;
}

td {
  font-size: 18px;
}

img {
  display: flex;
  height: 200px;
  width: 200 px;
  margin: 35px;
  padding: 35px;
}

input {
  height: 50px;
  width: 27%;
  margin: 35px;
  padding: 0 1rem;
}

body {
  background: url('./assets/images/basket.png');
}

h3 {
  color: orange;
  font-weight: 300;
}
h1 {
  color: gray;
}
