table {
    color: #fff;
}

h1 {
    color: #fff;
}

th {
    border: 4px solid #ec7f37;
    padding: 5px;
}

td {
    border: 2px solid #ec7f37;
    padding: 5px;
}

select {
    background-color: transparent;
    font-size: large;
    color: #fff;
    border: 3px solid #ec7f37;
    padding: 2px;
    margin-top: -5px;
    margin-bottom: 10px;
}