
.form-row {
    margin: 30px auto;
}

.form-control {
    width: 250px;
    margin: 0 auto;
    border: 4px solid #ec7f37;
    border-radius: 40px;
    background-color: #393939;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}